.favorite-title {
	margin: 0;
	font-size: 1rem;
	text-align: center;
	transition: all 0.3s ease;
	font-weight: normal;
}

.favorite-icon {
	width: 5rem;
	display: block;
	transition: all 0.3s ease;
}
