build
dist
outs
node_modules
src/Components/Theme/theme.ts
src/Components/File Icon/fileIcon.ts
src/Components/Setting/setting.ts
src/Components/File Operation/open.ts
src/Components/Favorites/favorites.ts
src/Components/Context Menu/contextmenu.ts
src/Components/File Operation/new.ts