.contextmenu,
.contextmenu-submenu {
	direction: rtl;
	position: fixed;
	padding: 10px;
	border-radius: 2px;
	min-width: 200px;
	overflow-wrap: break-word;
	-webkit-line-clamp: initial;
	-webkit-box-orient: vertical;

	.contextmenu-item {
		direction: ltr;
		padding: 0.5rem;
		display: block;
		cursor: pointer;
		img {
			width: 1rem;
			vertical-align: middle;
			margin-right: 1rem;
		}

		.contextmenu-item-shortcut {
			float: right;
			padding-left: 5px;
			opacity: 0.5;
		}
	}
	.contextmenu-item:hover {
		background: var(--selected-grid-background) !important;
		color: var(--selected-grid-color) !important;
	}
}

.contextmenu-submenu {
	display: none;
	&:hover {
		display: block;
	}
}
