.favorite,
.pendrive,
.file-grid {
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.4s ease;
}

.favorite:hover * {
	transform: scale(1.02) !important;
}

.pendrive:hover * {
	transform: scale(1.01) !important;
}

.section-title {
	margin-left: 1rem;
	font-size: 0.8rem;
}

.file-grid {
	display: inline-block;
	margin: 0.5rem 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	width: 6rem;
	cursor: pointer;

	.file-modifiedAt,
	.file-size,
	.file-type,
	.file-original-parent {
		display: none;
	}
	.file-grid-preview {
		margin: auto;
		display: block;
		max-width: 4rem;
		height: 3rem;
	}
	.file-grid-filename {
		overflow-wrap: break-word;
		-webkit-line-clamp: initial;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		display: -webkit-box;
		overflow: hidden;
		height: fit-content;
		text-align: center;
	}
}

.hovering .file-grid-filename {
	-webkit-line-clamp: initial !important;
}

.detail-view {
	display: inline-flex;
	width: -webkit-fill-available;
	.file-grid-preview {
		margin: 0;
		display: inline-block;
		height: 1.5rem;
		max-width: 2rem;
		width: 2rem;
	}
	.file-grid-filename {
		flex: 3;
		-webkit-box-orient: initial !important;
		padding-left: 1rem;
		white-space: nowrap;
	}
	.file-original-parent,
	.file-modifiedAt,
	.file-size,
	.file-type {
		display: block;
		flex: 1.2;
		font-size: 0.8rem;
		margin: 0 0.2rem;
	}
}

.large-grid-view {
	width: 12rem;
	vertical-align: top;
	.file-grid-preview {
		max-width: 12rem;
		height: 9rem;
	}
	.file-grid-filename {
		-webkit-line-clamp: 4;
	}
}

.medium-grid-view {
	width: 9rem;
	vertical-align: top;
	.file-grid-preview {
		max-width: 9rem;
		height: 6rem;
	}
	.file-grid-filename {
		-webkit-line-clamp: 3;
	}
}

.error-reading-files {
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
}

.small-grid-view {
	vertical-align: top;
	.file-grid-filename {
		-webkit-line-clamp: 2;
	}
}

[data-hide-hidden-files='true'] [data-is-hidden='true'] {
	display: none;
}

[data-is-hidden='true'] .file-grid-preview {
	opacity: 0.5;
}

.cut {
	opacity: 0.75;
}

.selected {
	box-shadow: inset 0px 0px 0px 2px var(--selected-grid-border);
	-webkit-box-shadow: inset 0px 0px 0px 2px var(--selected-grid-border);
	-moz-box-shadow: inset 0px 0px 0px 2px var(--selected-grid-border);
	background: var(--selected-grid-background) !important;
	color: var(--selected-grid-color) !important;
}

.hover-preview {
	position: fixed;
	width: 300px;
	img {
		width: 100%;
	}
}
