.settings {
	display: flex;
	width: 100%;
	height: 100vh;
	position: fixed;
	animation-fill-mode: forwards;
	z-index: 5;

	.settings-sidebar {
		flex: 1;
		min-width: 250px;
		.settings-sidebar-header {
			padding: 1rem;
			text-align: left;
		}

		.settings-sidebar-item {
			display: block;
			margin: 0.5rem;
			padding: 0.7rem;
			cursor: pointer;
			img {
				width: 1.5rem;
				vertical-align: middle;
				margin-right: 1rem;
			}
		}
	}
	.settings-main {
		-webkit-app-region: no-drag;
		flex: 4;
		padding: 1rem;
		select {
			background: inherit;
			padding: 0.25rem 0.5rem;
			border-radius: 2px;
			color: inherit;
		}

		.toggle {
			position: relative;
			display: inline-block;
			width: 52px;
			height: 26px;
			cursor: pointer;
		}

		.toggle input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.toggle-slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			border-radius: 34px;
		}

		.toggle-slider:before {
			position: absolute;
			content: '';
			height: 18px;
			width: 18px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			border-radius: 50%;
		}

		input:checked + .toggle-slider {
			background-color: #2196f3;
		}

		input:focus + .toggle-slider {
			box-shadow: 0 0 1px #2196f3;
		}

		input:checked + .toggle-slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		.toggle-label {
			position: absolute;
			left: 60px;
			top: 4px;
			width: max-content;
		}

		.toggle-box {
			margin: 10px 0;
		}
	}

	.exit-setting-btn {
		cursor: pointer;
	}
	.exit-setting-icon {
		font-size: 1.5rem;
	}
	.settings-title {
		margin: 1.5rem 0 0.5rem 0;
	}
	.settings-subtitle {
		font-family: sans-serif;
		margin: 1rem 0;
	}

	.settings-about {
		margin: 0;
		font-weight: normal;
		display: block;
	}

	.sidebar-text {
		margin: 0 0.2rem;
		padding: 0 !important;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

@keyframes open-setting {
	0% {
		top: 100%;
	}
	100% {
		top: 0%;
	}
}

@keyframes close-setting {
	0% {
		top: 0%;
	}
	100% {
		top: 100%;
	}
}
