.xplorer-brand {
	font-size: 1.5rem;
	text-align: center;
	display: block;
	padding: 15px;
	img {
		width: 100%;
		margin-top: 1rem;
	}
}

.container {
	display: flex;
	#drag-region {
		width: 100%;
		height: 100%;
	}
	border-radius: 50px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	border-radius: var(--edge-radius) 0 0 var(--edge-radius);
	overflow: auto;
	img {
		pointer-events: none;
	}
	.sidebar-text {
		pointer-events: none;
	}
	#sidebar-nav {
		flex-grow: 1;
		margin: 1rem 0;
		padding: 15px 20px;
		overflow: auto;
		width: -webkit-fill-available;
		.sidebar-nav-item {
			.sidebar-nav-item-dropdown-btn {
				cursor: pointer;
				font-size: 1rem;
				display: flex;
				flex-direction: row;
				padding: 0.7rem;
				gap: 1rem;
				font-size: inherit;
				img {
					min-width: 1.5rem;
					max-width: 1.5rem;
					vertical-align: bottom;
					align-items: flex-end;
				}
				&::after {
					content: '▲';
					float: right;
					padding-left: 1.75rem;
				}
			}
			.sidebar-nav-item-dropdown-spacer {
				flex-grow: 1;
				pointer-events: none;
			}
			.sidebar-nav-item-dropdown-container {
				span {
					display: flex;
					cursor: pointer;
					padding: 0.6rem 1.25rem;
					img {
						width: 1.5rem;
						height: 1.5rem;
						display: inline-block;
						vertical-align: bottom;
					}
					.sidebar-text {
						margin: 0 0.2rem;
						padding: 0 0 0 1rem !important;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
				}
			}
		}
		.nav-hide-item {
			.sidebar-nav-item-dropdown-btn::after {
				content: '▼' !important;
			}
			.sidebar-nav-item-dropdown-container {
				display: none !important;
			}
		}
		.sidebar-nav-drives {
			margin-top: 0.5rem;
		}
	}
	.sidebar-setting-btn {
		text-align: left;
		cursor: pointer;
		padding: 1rem;
		transition: 0.5s;
		.sidebar-setting-btn-inner:hover {
			transform: scale(0.95);
		}
		.sidebar-setting-btn-icon {
			min-width: 2rem;
			max-width: 2rem;
			vertical-align: middle;
		}

		.sidebar-setting-btn-text {
			vertical-align: middle;
			margin: 0 0.2rem;
		}
	}
}

.sidebar-minimized {
	#sidebar-nav {
		padding: 5px !important;
	}
	.sidebar-text,
	.sidebar-nav-item-dropdown-spacer,
	.sidebar-nav-item-dropdown-btn,
	.sidebar-setting-btn-text {
		display: none !important;
	}
	#sidebar-nav .sidebar-nav-item .sidebar-nav-item-dropdown-container span {
		padding: 0.5rem 0.25rem !important;
	}
	.sidebar-nav-item {
		margin: 2rem 0 !important;
	}
	#sidebar-nav .sidebar-nav-item .sidebar-nav-item-dropdown-container span {
		img {
			width: 100% !important;
		}
		&:hover .sidebar-text {
			position: fixed;
			display: block !important;
			left: 70px;
			background: inherit;
			padding: 10px 16px !important;
			border-radius: 5px;
			margin-top: -8px;
			transform: translateY(var(--sidebar-text-y));
		}
	}
	.settings-sidebar-header {
		text-align: center !important;
		.exit-setting-icon {
			font-size: 2rem !important;
		}
	}
	.settings-sidebar-heading {
		display: none !important;
	}
	.sidebar-setting-btn .sidebar-setting-btn-icon {
		width: 100% !important;
	}
	.settings-sidebar-item {
		margin: 1.5rem 0.25rem !important;
		img {
			width: 100% !important;
			margin: 0 !important;
			height: 1.5rem !important;
		}
		span {
			display: none !important;
		}
	}
}

.main {
	height: 100vh;
	flex: 4;
	overflow: auto;
	display: flex;
	flex-direction: column;
	.home-section {
		margin: 2rem 0;
	}
	.topbar {
		border-radius: 0 var(--edge-radius) 0 0;
		padding: 15px;
		&:focus {
			cursor: grabbing;
		}

		.tabs-manager {
			flex: 1;
			overflow: auto;
			display: flex;
			width: 100%;
			margin: 0 1rem;
			&::webkit-scrollbar {
				height: 3px;
			}
			&::-webkit-scrollbar-track {
				background: var(--tabs-scrollbar-track);
			}
			&::-webkit-scrollbar-thumb {
				background: var(--tabs-scrollbar-thumb);
			}
			&::-webkit-scrollbar-thumb:hover {
				background: var(--tabs-scrollbar-thumb-hover);
			}
			.tab {
				width: fit-content;
				padding: 5px 5rem;
				cursor: pointer;
				border-radius: 5px;
				position: relative;
				margin: 0 1rem;
				display: inline-block;
				#tab-position {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					width: 100px;
					text-align: center;
					display: inline-grid;
				}
				.close-tab-btn {
					position: absolute;
					right: 1rem;
					font-size: 1rem;
					cursor: pointer;
				}
			}
			.create-new-tab {
				padding: 5px;
				cursor: pointer;
				display: inline-block;
				width: calc(1rem + 5px);
				text-align: center;
				border-radius: 5px;
				font-size: 1rem;
			}
		}
		.window-manager {
			margin-left: auto;
			span {
				border-radius: 50%;
				padding: 5px;
				width: 8px;
				height: 8px;
				display: inline-block;
				cursor: pointer;
				vertical-align: middle;
				top: -1rem;
			}
		}
		.row {
			display: flex;
			padding: 0.5rem 0;
			.navigator {
				display: inline-block;
				#go-back,
				#go-forward,
				#go-parent-dir,
				#refresh {
					margin: 0.2rem;
					padding: 0.2rem;
					cursor: pointer;
					border-radius: 5px;
					width: 1rem;
					height: 1rem;
					font-size: 1.1rem;
					vertical-align: middle;
				}
				#go-back {
					margin-left: 2rem;
				}
			}
			.path-navigator {
				flex: 3;
				width: 50px;
				margin: 0 1rem;
				border: none;
				border-radius: 5px;
				padding: 0.5rem;
				vertical-align: middle;
			}
			.search-bar {
				flex: 1;
				margin: 0 1rem;
				border: none;
				border-radius: 5px;
				padding: 0.5rem;
				vertical-align: middle;
				width: 30px;
				&::-webkit-input-placeholder {
					color: inherit;
				}
			}
		}
	}
	.main-box {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		box-sizing: border-box;
		display: flex;

		#workspace {
			padding: 1rem;
			height: calc(100% - 2rem);
			width: -webkit-fill-available;
		}
	}
	.infobar {
		border-radius: 0 0 var(--edge-radius) 0;
		display: flex;
		.infobar-item {
			padding: 2.5px 10px;
		}
	}
}

[data-infobar-enabled='false'] .main-box {
	border-radius: 0 0 var(--edge-radius) 0;
}

.workspace-split {
	overflow: auto;
	flex: 1;
}

#maximize {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
