.container {
	height: 100%;
	display: flex;
	border-radius: var(--edge-radius);
	overflow: hidden;
	#drag-region {
		width: 100%;
		height: 100%;
	}
}

#xplorer-brand {
	position: relative;
	height: 4rem;
	overflow: hidden;
	span,
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: opacity 0.1s;
	}
	span {
		font-size: 1.5rem;
		text-align: center;
	}
	img {
		width: 2.5rem;
		opacity: 0;
	}
	.sidebar-minimized & {
		span {
			opacity: 0;
		}
		img {
			opacity: 1;
		}
	}
}

#sidebar-nav {
	flex: 1;
	padding: 15px 0;
	overflow: auto;
	overflow-x: hidden;
	.sidebar-nav-toggle {
		padding: 0.7rem 2rem;
		display: flex;
		align-items: center;
		font-size: 1rem;
		transition: opacity 0.2s;
		cursor: pointer;
		img {
			min-width: 1.5rem;
			max-width: 1.5rem;
		}
		.sidebar-minimized & {
			opacity: 0;
			pointer-events: none;
		}
	}
	.sidebar-nav-toggle-arrow {
		margin-left: auto;
		transform: translateY(10%);
		pointer-events: none;
		&::before {
			content: '▼';
			font-size: 0.8rem;
		}
	}
	.sidebar-nav-list {
		max-height: 999px;
		height: auto;
		overflow: hidden;
		transition: max-height 0.4s;
	}
	.sidebar-nav-item {
		padding: 0.6rem 0;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.sidebar-nav-dropdown-collapsed {
		.sidebar-nav-toggle-arrow {
			transform: translateY(20%) rotate(180deg);
		}
		.sidebar-nav-list {
			max-height: 0;
		}
	}
}

.sidebar-icon {
	min-width: var(--sidebar-minimized-width);
	padding: 0 0 0 3.5rem;
	box-sizing: border-box;
	text-align: center;
	transition: min-width 0.2s, padding 0.2s;
	pointer-events: none;
	img {
		min-width: 1.5rem;
		max-width: 1.5rem;
		vertical-align: middle;
	}
}

.sidebar-text {
	margin-left: 1rem;
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: opacity 0.2s;
	pointer-events: none;
}

.sidebar-minimized {
	.sidebar-icon {
		padding: 0;
	}
	.sidebar-nav-item:hover .sidebar-text {
		margin: 0;
		position: absolute;
		background: inherit;
		border-radius: 6px;
		padding: 0.6rem 1rem;
		overflow: hidden;
		transform: translate(var(--sidebar-minimized-width), var(--sidebar-text-y));
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: inherit;
			z-index: -1;
		}
	}
}

#sidebar-setting-btn {
	height: 4rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	.sidebar-icon {
		padding: 0 0 0 1rem;
	}
	.sidebar-text {
		margin-left: 0.5rem;
	}
	.sidebar-minimized & {
		overflow: hidden;
		.sidebar-icon {
			padding: 0 1rem;
		}
	}
}

.sidebar-hover-effect {
	border-radius: 6px;
}

.sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
	img {
		pointer-events: none;
	}
	.sidebar-text {
		pointer-events: none;
	}
}

.main {
	height: 100vh;
	flex: 4;
	overflow: auto;
	display: flex;
	flex-direction: column;
	.home-section {
		margin: 2rem 0;
	}
	.topbar {
		padding: 15px;
		&:focus {
			cursor: grabbing;
		}

		.tabs-manager {
			flex: 1;
			overflow: auto;
			display: flex;
			width: 100%;
			margin: 0 1rem;
			&::webkit-scrollbar {
				height: 3px;
			}
			&::-webkit-scrollbar-track {
				background: var(--tabs-scrollbar-track);
			}
			&::-webkit-scrollbar-thumb {
				background: var(--tabs-scrollbar-thumb);
			}
			&::-webkit-scrollbar-thumb:hover {
				background: var(--tabs-scrollbar-thumb-hover);
			}
			.tab {
				width: fit-content;
				padding: 5px 5rem;
				cursor: pointer;
				border-radius: 5px;
				position: relative;
				margin: 0 1rem;
				display: inline-block;
				#tab-position {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					width: 100px;
					text-align: center;
					display: inline-grid;
				}
				.close-tab-btn {
					position: absolute;
					right: 1rem;
					font-size: 1rem;
					cursor: pointer;
				}
			}
			.create-new-tab {
				padding: 5px;
				cursor: pointer;
				display: inline-block;
				width: calc(1rem + 5px);
				text-align: center;
				border-radius: 5px;
				font-size: 1rem;
			}
		}
		.window-manager {
			margin-left: auto;
			span {
				border-radius: 50%;
				padding: 5px;
				width: 8px;
				height: 8px;
				display: inline-block;
				cursor: pointer;
				vertical-align: middle;
				top: -1rem;
			}
		}
		.row {
			display: flex;
			padding: 0.5rem 0;
			.navigator {
				display: inline-block;
				#go-back,
				#go-forward,
				#go-parent-dir,
				#refresh {
					margin: 0.2rem;
					padding: 0.2rem;
					cursor: pointer;
					border-radius: 5px;
					width: 1rem;
					height: 1rem;
					font-size: 1.1rem;
					vertical-align: middle;
				}
				#go-back {
					margin-left: 2rem;
				}
			}
			.path-navigator {
				flex: 3;
				width: 50px;
				margin: 0 1rem;
				border: none;
				border-radius: 5px;
				padding: 0.5rem;
				vertical-align: middle;
			}
			.search-bar {
				flex: 1;
				margin: 0 1rem;
				border: none;
				border-radius: 5px;
				padding: 0.5rem;
				vertical-align: middle;
				width: 30px;
				&::-webkit-input-placeholder {
					color: inherit;
				}
			}
		}
	}
	.main-box {
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		box-sizing: border-box;
		display: flex;

		.workspace {
			padding: 1rem;
			height: calc(100% - 2rem);
			width: -webkit-fill-available;
			.workspace-tab {
				display: none;
			}
			.workspace-tab-active {
				display: block;
			}
		}
	}
	.infobar {
		display: flex;
		.infobar-item {
			padding: 2.5px 10px;
		}
	}
}

.workspace-split {
	flex: 1;
	display: flex;
	padding: 0 !important;
	height: 100% !important;
	.workspace-tab {
		overflow: auto;
		max-width: 50%;
		padding: 1rem;
	}
}

#maximize {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
