.properties {
	border-radius: 0.5rem;
	position: fixed;
	bottom: 2rem;
	right: -100vw;
	padding: 1rem;
	.properties-heading {
		display: flex;
		border-bottom: 1px solid #b9b9b9;
		padding-bottom: 1rem;
		.properties-heading-exit {
			cursor: pointer;
			width: 1rem;
			margin-left: auto;
		}
	}
	.properties-table {
		margin-top: 1rem;
	}
	.properties-table-value {
		padding: 0.3rem;
		width: 25vw;
		margin-left: 1rem;
		word-break: break-all;
	}
}

@keyframes properties {
	from {
		right: -50vw;
	}
	to {
		right: 2rem;
	}
}

@keyframes close-properties {
	from {
		right: 2rem;
	}
	to {
		right: -100vw;
	}
}
