.properties {
	border-radius: 0.5rem;
	position: fixed;
	bottom: -100vh;
	left: 50%;
	transform: translateX(-50%);
	padding: 2rem;
	.properties-heading {
		display: flex;
		border-bottom: 1px solid #3c9ffc;
		color: #3c9ffc;
		padding-bottom: 0.5rem;
		font-weight: bold;
		margin-bottom: 0.3rem;
		.properties-heading-exit {
			cursor: pointer;
			width: 1rem;
			margin-left: auto;
		}
	}
	.text {
		font-size: 0.7rem;
		padding-left: 0.3rem;
	}
}

@keyframes properties {
	from {
		bottom: -100vh;
	}
	to {
		bottom: 3rem;
	}
}

@keyframes close-properties {
	from {
		bottom: 5rem;
	}
	to {
		bottom: -100vh;
	}
}
