
[data-theme-category = "dark"] pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
[data-theme-category = "dark"] code.hljs {
    padding: 3px 5px;
}
[data-theme-category = "dark"] .hljs {
    color: #cbd6e2;
    background: #0b1c2c;
}
[data-theme-category = "dark"] .hljs ::selection {
    color: #405c79;
}
[data-theme-category = "dark"] .hljs-comment {
    color: #627e99;
}
[data-theme-category = "dark"] .hljs-tag {
    color: #aabcce;
}
[data-theme-category = "dark"] .hljs-operator,
[data-theme-category = "dark"] .hljs-punctuation,
[data-theme-category = "dark"] .hljs-subst {
    color: #cbd6e2;
}
[data-theme-category = "dark"] .hljs-operator {
    opacity: 0.7;
}
[data-theme-category = "dark"] .hljs-bullet,
[data-theme-category = "dark"] .hljs-deletion,
[data-theme-category = "dark"] .hljs-name,
[data-theme-category = "dark"] .hljs-selector-tag,
[data-theme-category = "dark"] .hljs-template-variable,
[data-theme-category = "dark"] .hljs-variable {
    color: #bf8b56;
}
[data-theme-category = "dark"] .hljs-attr,
[data-theme-category = "dark"] .hljs-link,
[data-theme-category = "dark"] .hljs-literal,
[data-theme-category = "dark"] .hljs-number,
[data-theme-category = "dark"] .hljs-symbol,
[data-theme-category = "dark"] .hljs-variable.constant_ {
    color: #bfbf56;
}
[data-theme-category = "dark"] .hljs-class .hljs-title,
[data-theme-category = "dark"] .hljs-title,
[data-theme-category = "dark"] .hljs-title.class_ {
    color: #8bbf56;
}
[data-theme-category = "dark"] .hljs-strong {
    font-weight: 700;
    color: #8bbf56;
}
[data-theme-category = "dark"] .hljs-addition,
[data-theme-category = "dark"] .hljs-code,
[data-theme-category = "dark"] .hljs-string,
[data-theme-category = "dark"] .hljs-title.class_.inherited__ {
    color: #56bf8b;
}
[data-theme-category = "dark"] .hljs-built_in,
[data-theme-category = "dark"] .hljs-doctag,
[data-theme-category = "dark"] .hljs-keyword.hljs-atrule,
[data-theme-category = "dark"] .hljs-quote,
[data-theme-category = "dark"] .hljs-regexp {
    color: #568bbf;
  }
[data-theme-category = "dark"] .hljs-attribute,
[data-theme-category = "dark"] .hljs-function .hljs-title,
[data-theme-category = "dark"] .hljs-section,
[data-theme-category = "dark"] .hljs-title.function_,
[data-theme-category = "dark"] .ruby .hljs-property {
    color: #8b56bf;
}
[data-theme-category = "dark"] .diff .hljs-meta,
[data-theme-category = "dark"] .hljs-keyword,
[data-theme-category = "dark"] .hljs-template-tag,
[data-theme-category = "dark"] .hljs-type {
    color: #bf568b;
}
[data-theme-category = "dark"] .hljs-emphasis {
    color: #bf568b;
    font-style: italic;
}
[data-theme-category = "dark"] .hljs-meta,
[data-theme-category = "dark"] .hljs-meta .hljs-keyword,
[data-theme-category = "dark"] .hljs-meta .hljs-string {
    color: #bf5656;
}
[data-theme-category = "dark"] .hljs-meta .hljs-keyword,
[data-theme-category = "dark"] .hljs-meta-keyword {
    font-weight: 700;
}

[data-theme-category = "light"] pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
[data-theme-category = "light"] code.hljs {
    padding: 3px 5px;
}
[data-theme-category = "light"] .hljs {
    color: #383838;
    background: #f8f8f8;
}
[data-theme-category = "light"] .hljs ::selection {
    color: #d8d8d8;
}
[data-theme-category = "light"] .hljs-comment {
    color: #9b5ad6;
}
[data-theme-category = "light"] .hljs-tag {
    color: #585858;
}
[data-theme-category = "light"] .hljs-operator,
[data-theme-category = "light"] .hljs-punctuation,
[data-theme-category = "light"] .hljs-subst {
    color: #383838;
}
[data-theme-category = "light"] .hljs-operator {
    opacity: 0.7;
}
[data-theme-category = "light"] .hljs-bullet,
[data-theme-category = "light"] .hljs-deletion,
[data-theme-category = "light"] .hljs-name,
[data-theme-category = "light"] .hljs-selector-tag,
[data-theme-category = "light"] .hljs-template-variable,
[data-theme-category = "light"] .hljs-variable {
    color: #ab4642;
}
[data-theme-category = "light"] .hljs-attr,
[data-theme-category = "light"] .hljs-link,
[data-theme-category = "light"] .hljs-literal,
[data-theme-category = "light"] .hljs-number,
[data-theme-category = "light"] .hljs-symbol,
[data-theme-category = "light"] .hljs-variable.constant_ {
    color: #dc9656;
}
[data-theme-category = "light"] .hljs-class .hljs-title,
[data-theme-category = "light"] .hljs-title,
[data-theme-category = "light"] .hljs-title.class_ {
    color: #f79a0e;
}
[data-theme-category = "light"] .hljs-strong {
    font-weight: 700;
    color: #f79a0e;
}
[data-theme-category = "light"] .hljs-addition,
[data-theme-category = "light"] .hljs-code,
[data-theme-category = "light"] .hljs-string,
[data-theme-category = "light"] .hljs-title.class_.inherited__ {
    color: #538947;
}
[data-theme-category = "light"] .hljs-built_in,
[data-theme-category = "light"] .hljs-doctag,
[data-theme-category = "light"] .hljs-keyword.hljs-atrule,
[data-theme-category = "light"] .hljs-quote,
[data-theme-category = "light"] .hljs-regexp {
    color: #4b8093;
  }
[data-theme-category = "light"] .hljs-attribute,
[data-theme-category = "light"] .hljs-function .hljs-title,
[data-theme-category = "light"] .hljs-section,
[data-theme-category = "light"] .hljs-title.function_,
[data-theme-category = "light"] .ruby .hljs-property {
    color: #5b0af9;
}
[data-theme-category = "light"] .diff .hljs-meta,
[data-theme-category = "light"] .hljs-keyword,
[data-theme-category = "light"] .hljs-template-tag,
[data-theme-category = "light"] .hljs-type {
    color: #96609e;
}
[data-theme-category = "light"] .hljs-emphasis {
    color: #96609e;
    font-style: italic;
}
[data-theme-category = "light"] .hljs-meta,
[data-theme-category = "light"] .hljs-meta .hljs-keyword,
[data-theme-category = "light"] .hljs-meta .hljs-string {
    color: #a16946;
}
[data-theme-category = "light"] .hljs-meta .hljs-keyword,
[data-theme-category = "light"] .hljs-meta-keyword {
    font-weight: 700;
}
  