body{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
    scroll-behavior: smooth;
}

::-webkit-scrollbar{ width: 5px; }
::-webkit-scrollbar-track{background: var(--scrollbar-track);}
::-webkit-scrollbar-thumb{background: var(--scrollbar-thumb);}
::-webkit-scrollbar-thumb:hover{background: var(--scrollbar-thumb-hover);}

.xplorer-brand{
    font-size: 1.5rem;
    text-align: center;
    display: block;
    padding: 15px;
}

.container{
    display: flex;
}

.container #drag-region{
    width: 100%;
    height: 100%;
}

.sidebar{
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.sidebar-nav{
    flex-grow: 1;
    margin: 1rem 0;
    padding: 15px 20px;
    overflow: auto;
    width: -webkit-fill-available;
}

.sidebar-nav-item{
    margin: 1rem .5rem;
}

.sidebar-nav-item-dropdown-btn{
    cursor: pointer;
    font-size: 1.3rem;
}

.sidebar-nav-item-dropdown-btn img{
    width: 1.5rem;
    vertical-align: bottom;
}

.sidebar-nav-item-dropdown-btn::after{
    content: "▲";
    float: right;
    padding-left: 1.75rem;
}

.nav-hide-item .sidebar-nav-item-dropdown-btn::after{
    content: "▼" !important;
}

.nav-hide-item .sidebar-nav-item-dropdown-container{
    display: none !important;
}

.sidebar-nav-item-dropdown-container{
    padding-left: 1rem;
}

.sidebar-nav-item-dropdown-container span{
    display: block;
    cursor: pointer;
    padding: .2rem;
}

.sidebar-nav-item-dropdown-container span img{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: bottom;
}
.sidebar-setting-btn{
    text-align: center;
    cursor: pointer;
    padding: 15px;
    transition: .5s;
}

.sidebar-setting-btn-inner:hover{
    transform: scale(0.95);
}

.sidebar-setting-btn-icon{
    width: 2rem;
    vertical-align: middle;
}

.sidebar-setting-btn-text{
    vertical-align: middle;
    margin: 0 .2rem;
}

.main{
    height: 100vh;
    flex: 4;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.home-section{
    margin: 2rem 0;
}

.tabs-manager{
    flex: 1;
    overflow: auto;
    display: flex;
    width: 100%;
    margin: 0 1rem;
    -webkit-app-region: no-drag;
}


.tabs-manager::-webkit-scrollbar{ height: 3px;  }
.tabs-manager::-webkit-scrollbar-track{background: var(--tabs-scrollbar-track);}
.tabs-manager::-webkit-scrollbar-thumb{background: var(--tabs-scrollbar-thumb);}
.tabs-manager::-webkit-scrollbar-thumb:hover{background: var(--tabs-scrollbar-thumb-hover);}

.tab{
    width: fit-content;
    padding: 5px 5rem;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    -webkit-app-region: no-drag;
    margin: 0 1rem;
    display: inline-block;
}

.close-tab-btn{
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.create-new-tab{
    padding: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    display: inline-block;
    width: calc(1rem + 5px);
    text-align: center;
    border-radius: 5px;
}

.topbar{
    padding: 15px;
    -webkit-app-region: drag;
}

.topbar:focus{
    cursor: grabbing;
}

.window-manager{
    margin-left: auto;
}

.window-manager span{
    border-radius: 50%;
    padding: 5px;
    width: 8px;
    height: 8px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    top: -1rem;
    -webkit-app-region: no-drag;
}


.row{
    display: flex;
    padding: .5rem 0;
}

.navigator{
    display: inline-block;
}

#go-back, #go-forward, #refresh{
    margin: .2rem;
    padding: .2rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
    border-radius: 5px;
    width: 1rem;
    height: 1rem;
    font-size: 1.1rem;
    vertical-align: middle;
}
#go-back{
    margin-left: 2rem;
}

#main{
    padding: 1rem;
    overflow: auto;
}

.path-navigator{
    flex: 1;
    margin: 0 1rem;
    -webkit-app-region: no-drag;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    vertical-align: middle;
}

.loading-bar{
    height: 5px;
    visibility: hidden;
    overflow: hidden;
}

.loading-bar[data-loading="true"]{
    visibility: inherit;
}

.loader{
    width: 20px;
    height: 5px;
    display: block;
    animation: loading 5s infinite;
    position: relative;
}

@keyframes loading {
    0%{
        left: -2%;
    }
    50%{
        left: 100%;
    }
    100%{
        left: -2%;
    }
}

.pendrive{
    width: 250px;
    display: inline-flex !important;
}

.favorite, .pendrive, .file-grid{
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}


.favorite:hover * {
    transform: scale(1.02) !important;
}

.pendrive:hover * {
    transform: scale(1.01) !important;
}

.favorite-title{
    margin: 0;
    font-size: 1rem;
    text-align: center;
    transition: all .3s ease;
}

.section-title{
    margin-left: 1rem;
    font-size: .8rem;
}

.favorite-icon{
    width: 5rem;
    display: block;
    transition: all .3s ease;
}

.pendrive-icon{
    width: 3.5rem;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s ease;
}

.pendrive-info{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: .8rem;
    transition: all .3s ease;
    flex: 1;
}

.pendrive-info p{
    margin: .1rem 0;
}

.pendrive-title{
    margin: .1rem 0 .5rem 0;
    transition: all .3s ease;
}

.pendrive-total-capacity{
    width: 100%;
    height: 7px;
    border-radius: 3px;
    transition: all .3s ease;
}

.pendrive-used-capacity{
    height: inherit;
    display: block;
    transition: all .3s ease;
}

.file-grid{
    display: inline-block;
    margin: .5rem 1rem;
    padding: .5rem;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.menu{
    vertical-align: middle;
    width: 1rem;
    -webkit-app-region: no-drag;
    position: relative;
}

.menu-dropdown{
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 5px 8px;
    width: max-content;
    -webkit-app-region: no-drag;
}

.menu:active .menu-dropdown, .menu:focus .menu-dropdown, .menu:hover .menu-dropdown{
    display: block;
}

.menu-svg{
    vertical-align: sub;
    width: 1rem;
    fill: inherit;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.file-grid-preview{
    margin: auto;
    display: block;
    max-width: 4rem;
    height: 3rem;
}

.file-grid .file-grid-filename{
    overflow-wrap: break-word;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    height: fit-content;
    text-align: center;
}

.empty-dir-notification{
    margin: 0 auto;
    font-weight: bold;
}

[data-hidden-file] .file-grid-preview{
    opacity: .5;
}