body{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
    scroll-behavior: smooth;
}

::-webkit-scrollbar{ width: 5px; }
::-webkit-scrollbar-track{background: var(--scrollbar-track);}
::-webkit-scrollbar-thumb{background: var(--scrollbar-thumb);}
::-webkit-scrollbar-thumb:hover{background: var(--scrollbar-thumb-hover);}

.xplorer-brand{
    font-size: 1.5rem;
    text-align: center;
    display: block;
    padding: 15px;
}

.container{
    display: flex;
}

.container #drag-region{
    width: 100%;
    height: 100%;
}

.sidebar{
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.sidebar-nav{
    flex-grow: 1;
    margin: 1rem 0;
    padding: 15px 20px;
    overflow: auto;
    width: -webkit-fill-available;
}

.sidebar-nav-item{
    margin: 1rem .5rem;
}

.sidebar-nav-item-dropdown-btn{
    cursor: pointer;
    font-size: 1.3rem;
}

.sidebar-nav-item-dropdown-btn img{
    width: 1.5rem;
    vertical-align: bottom;
}

.sidebar-nav-item-dropdown-btn::after{
    content: "▲";
    float: right;
    padding-left: 1.75rem;
}

.nav-hide-item .sidebar-nav-item-dropdown-btn::after{
    content: "▼" !important;
}

.nav-hide-item .sidebar-nav-item-dropdown-container{
    display: none !important;
}

.sidebar-nav-item-dropdown-container{
    padding-left: 1rem;
}

.sidebar-nav-item-dropdown-container span{
    display: block;
    cursor: pointer;
    padding: .2rem;
}

.sidebar-nav-item-dropdown-container span img{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: bottom;
}
.sidebar-setting-btn{
    text-align: center;
    cursor: pointer;
    padding: 15px;
    transition: .5s;
}

.sidebar-setting-btn-inner:hover{
    transform: scale(0.95);
}

.sidebar-setting-btn-icon{
    width: 2rem;
    vertical-align: middle;
}

.sidebar-setting-btn-text{
    vertical-align: middle;
    margin: 0 .2rem;
}

.main{
    height: 100vh;
    flex: 4;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.home-section{
    margin: 2rem 0;
}

.tabs-manager{
    flex: 1;
    overflow: auto;
    display: flex;
    width: 100%;
    margin: 0 1rem;
    -webkit-app-region: no-drag;
}


.tabs-manager::-webkit-scrollbar{ height: 3px;  }
.tabs-manager::-webkit-scrollbar-track{background: var(--tabs-scrollbar-track);}
.tabs-manager::-webkit-scrollbar-thumb{background: var(--tabs-scrollbar-thumb);}
.tabs-manager::-webkit-scrollbar-thumb:hover{background: var(--tabs-scrollbar-thumb-hover);}

.tab{
    width: fit-content;
    padding: 5px 5rem;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    -webkit-app-region: no-drag;
    margin: 0 1rem;
    display: inline-block;
}

.tab #tab-position{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100px;
    text-align: center;
    display: inline-grid;
}

.close-tab-btn{
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.create-new-tab{
    padding: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    display: inline-block;
    width: calc(1rem + 5px);
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
}

.topbar{
    padding: 15px;
    -webkit-app-region: drag;
}

.topbar:focus{
    cursor: grabbing;
}

.window-manager{
    margin-left: auto;
}

.window-manager span{
    border-radius: 50%;
    padding: 5px;
    width: 8px;
    height: 8px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    top: -1rem;
    -webkit-app-region: no-drag;
}


.row{
    display: flex;
    padding: .5rem 0;
}

.navigator{
    display: inline-block;
}

#go-back, #go-forward, #refresh{
    margin: .2rem;
    padding: .2rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
    border-radius: 5px;
    width: 1rem;
    height: 1rem;
    font-size: 1.1rem;
    vertical-align: middle;
}
#go-back{
    margin-left: 2rem;
}

#main{
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.path-navigator{
    flex: 1;
    margin: 0 1rem;
    -webkit-app-region: no-drag;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    vertical-align: middle;
}

.loading-bar{
    height: 5px;
    visibility: hidden;
    overflow: hidden;
}

.loading-bar[data-loading="true"]{
    visibility: inherit;
}

.loader{
    width: 20px;
    height: 5px;
    display: block;
    animation: loading 5s infinite;
    position: relative;
}

@keyframes loading {
    0%{
        left: -2%;
    }
    50%{
        left: 100%;
    }
    100%{
        left: -2%;
    }
}

.pendrive{
    width: 250px;
    display: inline-flex !important;
}

.favorite, .pendrive, .file-grid{
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}


.favorite:hover * {
    transform: scale(1.02) !important;
}

.pendrive:hover * {
    transform: scale(1.01) !important;
}

.favorite-title{
    margin: 0;
    font-size: 1rem;
    text-align: center;
    transition: all .3s ease;
}

.section-title{
    margin-left: 1rem;
    font-size: .8rem;
}

.favorite-icon{
    width: 5rem;
    display: block;
    transition: all .3s ease;
}

.pendrive-icon{
    width: 3.5rem;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s ease;
}

.pendrive-info{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: .8rem;
    transition: all .3s ease;
    flex: 1;
}

.pendrive-info p{
    margin: .1rem 0;
}

.pendrive-title{
    margin: .1rem 0 .5rem 0;
    transition: all .3s ease;
}

.pendrive-total-capacity{
    width: 100%;
    height: 7px;
    border-radius: 3px;
    transition: all .3s ease;
}

.pendrive-used-capacity{
    height: inherit;
    display: block;
    transition: all .3s ease;
}

.file-grid{
    display: inline-block;
    margin: .5rem 1rem;
    padding: .5rem;
    border-radius: 5px;
    width: 6rem;
    cursor: pointer;
}

.menu{
    vertical-align: middle;
    width: 1rem;
    -webkit-app-region: no-drag;
    position: relative;
}

.menu-dropdown{
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 5px 8px;
    width: max-content;
    -webkit-app-region: no-drag;
}

.menu:active .menu-dropdown, .menu:focus .menu-dropdown, .menu:hover .menu-dropdown{
    display: block;
}

.menu-svg{
    vertical-align: sub;
    width: 1rem;
    fill: inherit;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.file-modifiedAt, .file-size, .file-type{
    display: none;
}

.detail-view{
    display: inline-flex;
    width: -webkit-fill-available;
}


.detail-view .file-grid-preview{
    margin: 0;
    display: inline-block;
    height: 1.5rem;
    max-width: 2rem;
}

.detail-view .file-grid-filename{
    flex: 3;
    -webkit-box-orient: initial !important;
    padding-left: 1rem;
    white-space: nowrap;
}

.detail-view .file-modifiedAt, .detail-view .file-size, .detail-view .file-type{
    display: block;
    flex:1.2;
    font-size: .8rem;
    margin: 0 .2rem;
}

.large-grid-view{
    width: 12rem;
}

.medium-grid-view{
    width: 9rem;
}

.medium-grid-view .file-grid-preview{
    max-width: 9rem;
    height: 6rem;
}

.large-grid-view .file-grid-preview{
    max-width: 12rem;
    height: 9rem;
}

.file-grid-preview{
    margin: auto;
    display: block;
    max-width: 4rem;
    height: 3rem;
}

.file-grid .file-grid-filename{
    overflow-wrap: break-word;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    height: fit-content;
    text-align: center;
}

.empty-dir-notification{
    margin: 0 auto;
    font-weight: bold;
}

[data-hide-hidden-files="true"] [data-hidden-file]{
    display: none;
}

[data-hidden-file] .file-grid-preview{
    opacity: .5;
}

.contextmenu, .contextmenu-submenu{
    position: fixed;
    padding: 10px;
    border-radius: 2px;
    -webkit-app-region: no-drag;
    min-width: 200px;
    overflow-wrap: break-word;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
}

.contextmenu-item{
    display: block;
    cursor: pointer;
}

.contextmenu-item img{
    width: 1rem;
    padding: .2rem;
    vertical-align: bottom;
}

.contextmenu-item-shortcut{
    float: right;
    padding-left: 5px;
    opacity: .5;
}

.contextmenu-submenu{
    display: none;
}

.contextmenu-submenu:hover{
    display: block;
}

.settings{
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    animation-fill-mode: forwards;
}

.settings-sidebar{
    flex: 1;
    min-width: 250px;
}

.settings-main{
    -webkit-app-region: no-drag;
    flex: 4;
    padding: 1rem;
}

.settings-main select{
    background: inherit;
    padding: .25rem .5rem;
    border-radius: 2px;
    color: inherit;
}

.exit-setting-btn{
    font-size: 1.5rem;
    cursor: pointer;
}

.settings-sidebar-header{
    padding: 1rem;
    text-align: center;
}

.settings-sidebar-item{
    display: block;
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
}

.settings-sidebar-item img{
    width: 1.5rem;
    vertical-align: middle;
    margin-right: 1rem;
}

@keyframes open-setting{
    0%{
        top: 100%;
    }
    100%{
        top: 0%;
    }
}

@keyframes close-setting{
    0%{
        top: 0%;
    }
    100%{
        top: 100%;
    }
}


.toggle {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
    cursor: pointer;
}
  
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .toggle-slider {
    background-color: #2196F3;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-label{
    position: absolute;
    left: 60px;
    top: 4px;
    width: max-content;
}

.toggle-box{
    margin: 10px 0;
}

.settings-title{
    margin: 1.5rem 0 .5rem 0;
}

.settings-about-version{
    margin: 0;
    font-weight: normal;
}

.sidebar-text{
    display: inline-block !important;
    margin: 0 .2rem;
    padding: 0 !important;
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
