name: Build (MacOS)

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: macos-latest

        strategy:
            matrix:
                node-version: [14.x, 15.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
            - run: yarn install --frozen-lockfile
            - run: yarn build --publish=always
